/*
 * Waybar - Everforest Light Theme
 */

/* --- Color Variables --- */
@define-color bg #C7E07B;
@define-color fg #5C6A72;
@define-color red #F85552;
@define-color green #8DA101;
@define-color yellow #DFA000;
@define-color blue #3A94C5;
@define-color grey #D8D3BA;
@define-color highlight #9dd98f;

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

/* --- Main Bar --- */
window#waybar {
    background-color: rgba(243, 234, 211, 0.0); /* Light BG with transparency */
    color: @fg;
}
window#waybar.visible {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .5s;
}

/* --- Base Module Style --- */
#workspaces,
#clock,
#tray,
#memory,
#cpu,
#pulseaudio,
#network,
#custom-netspeed,
#bluetooth,
#battery,
#custom-theme,
#mpris,
#custom-power {
    background-color: @bg;
    padding: 2px 12px;
    margin: 6px 5px;
    border-radius: 12px;
    color: @fg;
}


/* --- Workspace Indicator --- */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
    transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
}
#workspaces button:hover {
    background-color: @highlight;
    color: @fg;
    border-radius: 10px;
}
#workspaces button.active {
    background-color: @green;
    color: @bg;
    border-radius: 12px;
    padding-right: 10px;
    padding-left: 10px;
}
#workspaces button.focused {
    background-color: @grey;
}

/* --- State-Aware Module Styling --- */
#pulseaudio {
    background-color: @green;
    color: @bg;
}
#pulseaudio.muted {
    background-color: @grey;
    color: @fg;
}

#bluetooth.connected {
    background-color: @blue;
    color: @bg;
}
#bluetooth.disabled {
    background-color: @grey;
}

#battery.charging, #battery.plugged {
    background-color: @green;
    color: @bg;
}
#battery.warning:not(.charging) {
    background-color: @yellow;
    color: @bg;
}
#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* --- Specific Modules --- */
#custom-power {
    background-color: @red;
    color: @bg;
    border-radius: 15px;
}

/* --- Blinking Animation --- */
@keyframes blink {
    to {
        background-color: @fg;
        color: @red;
    }
}
