* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 20px;
}

window {
    background-color: rgba(30, 30, 46, 0.85); /* Catppuccin Base with transparency */
}

button {
    color: #cdd6f4; /* Catppuccin Text */
    background-color: #1e1e2e; /* Catppuccin Mantle */
    border: 2px solid #313244;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}

button:focus, button:active, button:hover {
    background-color: #89b4fa; /* Catppuccin Blue */
    color: #1e1e2e;
    outline-style: none;
}
